.grid-x
  .cell-2
    .grid-y
      .cell.small-1
      .cell.small-10{style: 'border: 1px solid black; padding: 5px;'}
        %h3
          = "#{@fund_name} #{Funds::SHARE_CLASS_R6}"
        %p
          Transparent Fees Paid to
          %br
          New Platform - Entrustody:
        .grid-y
          .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
            %p
              Expense Ratio:
              %br
              = number_to_percentage(@fund[Funds::SHARE_CLASS_R6][:exp_ratio], precision: 4)
          .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
            %p
              Trading Costs
              %br
              - trading_costs = @num_accounts * @num_trades_per_year * 0.5
              = number_to_currency(trading_costs)
          .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
            %p
              Single Platform Fee:
              %br
              - platform_fee = @num_accounts * 15
              = number_to_currency(platform_fee)
          .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
            %p
              Total cost on new platform:
              %br
              %span{style: "background-color: yellow;"}
                = number_to_currency((@aum - @cash) * @fund[Funds::SHARE_CLASS_R6][:exp_ratio] + platform_fee + trading_costs)

  - (Funds::SHARE_CLASSES - [Funds::SHARE_CLASS_R6]).each do |share_class|
    - next unless @fund[share_class]
    .cell-2
      .grid-y
        .cell.small-1
        .cell.small-10{style: 'border: 1px solid black; padding: 5px;'}
          %h3
            = "#{@fund_name} #{share_class}"
          %p
            Extimated Current Fees Being Paid
            %br
            to Custudian/Broker Dealer
          .grid-y
            .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
              %p
                Expense Ratio:
                %br
                = number_to_percentage(@fund[share_class][:exp_ratio], precision: 4)
          .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
            %p
              Trading Costs
              %br
              - trading_costs = @num_accounts * @num_trades_per_year * @cost_per_trade
              = number_to_currency(trading_costs)
          .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
            %p
              Cash Spread Cost (Opportunity cost)
              %br
              - opp_cost = @cash * 0.02
              = number_to_currency(opp_cost)
          .cell.small-2{style: 'border-top: 1px solid black; border-bottom: 1px solid black;'}
            %p
              Total cost of current platform:
              %br
              %span{style: "background-color: yellow;"}
                = number_to_currency((@aum - @cash) * @fund[share_class][:exp_ratio] + trading_costs + opp_cost)
